{% extends "layout.html" %}

{% block title %}
    All Books
{% endblock %}

{% block body %}
    <h1>All Books</h1>

    <table style="width:80%" class="table">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Year</th>
      </tr>
      {% for books in books %}
      <tr class="table-striped">
        <td><a href="{{ url_for('book', book_id=books.id) }}">{{ books.title }}</a></td>
        <td>{{ books.author }}</td>
        <td>{{ books.year }}</td>
        <td>{{ books.isbn }}</td>
      </tr>
      {% endfor %}
    </table>

{% endblock %}
