{% extends "layout.html" %}

{% block title %}
    Book Details
{% endblock %}

{% block body %}
<h1>{{ book.title }} by {{ book.author }}</h1>
<br>
    <div>
        <b>Title:</b> {{ book.title }}<br>
        <b>Author:</b> {{ book.author }}<br>
        <b>Year:</b> {{ book.year }}<br>
        <b>ISBN:</b> {{ book.isbn }}<br>
        <b>Goodreads Average Review:</b> {{ book_rating }}<br>
    <div>
    <br>
    <h2>Reviews by Members</h2>
    <br>
    {% if reviews %}
    {% for reviews in reviews %}
      <b>{{ reviews.username }}</b> gave <b>{{ reviews.stars }}</b> and said:
        <br>
        {{ reviews.review }}
        <br><br>
    {% endfor %}
    {% else %}
      <p>No one has left a review yet.</p>
    {% endif %}
    <br>
    <h2>Review book</h2>
    <br>
    <div>
    </div>
    <form action="{{ url_for('review', book_id=book.id) }}" method="post">
      <br>
      <p>How many stars?</p>
      <select name="stars">
        <option value="5">5</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
      </select>
      <br>
      <textarea type="textarea" name="review" placeholder="Enter review here" rows="4" cols="50" draggable="true"></textarea>
      <br>
      <button class="btn btn-primary btn-large btn-block" >Submit Review</button>
    </form>
    <br>

{% endblock %}
