{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}

{% block body %}
<h1>Welcome! [index.html]</h1>
{% if session['logged_in'] %}
<p>You are already logged in!</p>
{% else %}
    <h1>Login</h1>
    <div>
      <p>If you don't have a login, you need to <a href="#register">register</a></p>
    </div>
    <form action="{{ url_for('login') }}" method="post">
        <div class="login">
          <div class="login-screen">
            <div class="app-title">
              <h2>Login</h2>
            </div>

          <div class="login-form">
            <input type="text" class="login-field" name="username" placeholder="Username" required>
            <label class="login-field-icon fui-user" for="login-name"></label>
          </div>
          <br>
          <div class="control-group">
            <input type="password" class="login-field" name="password" placeholder="Password" required>
            <label class="login-field-icon fui-lock" for="login-pass"></label>
          </div>
            <button class="btn btn-primary btn-large btn-block" >Login</button>
            <br></div>
          </div>
        </div>
    </form>
    <br>
    <h2>Register</h2>
    <br>
    <form action="{{ url_for('register') }}" method="post">
      <div name="register" class="login-screen">
        <input class="form-control" name="username" placeholder="Username">
        <input class="form-control" name="password" placeholder="Password">
      </div>
      <div class="login-screen">
        <button class="btn btn-primary btn-large btn-block">Register</button>
      </div>
    </form>
{% endif %}
{% endblock %}
