<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    </head>
    <body>
        <div class="container">
          <h3>Menu</h3>
          <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/list">List Books</a></li>
            <li><a href="/books">Books</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>
