<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/style.css" type="text/css">

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    <body>
        <div class="container">

          <h3>CS50 Book Search Website</h3>
          <div><a href="/">Home</a> | <a href="/search">Search</a> |
            {% if session['logged_in'] == True %}
              <a href="/logout">Logout</a>
            {% else %}
              <a href="/">Login</a>
            {% endif %}
          </div><br><br>
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>
