{% extends "layout.html" %}

{% block title %}
    Search Books
{% endblock %}

{% block body %}
    <h1>Search Books [search.html]</h1>

    <form action="{{ url_for('books') }}" method="post">

        <div class="form-group">
            <input class="form-control" name="title" placeholder="Book Title">
            <input class="form-control" name="author" placeholder="Author">
            <input class="form-control" name="isbn" placeholder="ISBN">
        </div>

        <div class="form-group">
            <button class="btn btn-primary">Search</button>
        </div>

    </form>
{% endblock %}
